.App{
  min-height: 100vh;
}

body{
  background-color: rgb(245, 245, 245);
  height: 100%
}

.banner{
  background-image: url('./assets/Banner.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(255, 255, 255);
}